<div class="centre">
    <h1> {{this.confirmation}} </h1>
    <img src="/image/act_ok.png" width="30" height="30">
    <p> Redirection vers la page de gestion des {{this.entite}} dans deux secondes...</p>
    <meta http-equiv="Refresh" content="2; url=/{{this.entite}}" />
</div>
