<div class="monCode">
<h1> Gestion des Ecuries </h1>
<img src="/image/cat_ecurie.png">
<div>
  <img src="/image/act_add.png">
  <a href="/ajouterEcurie">Ajouter une écurie</a>
</div>
<table border="1">
		<tr>
			<th> Nom </th>
			<th> Directeur </th>
			<th> Points </th>
			<th> Actions </th>
		</tr>
	 {{#each ecuries}}
		<tr>
			<td> {{this.ecunom}} </td>
      <td> {{this.ecunomdir}} </td>
			<td> {{this.ecupoints}} </td>
			<td>
          <img src="/image/act_edit.png"> <a href="modifierEcurie\:num">Modifier</a>
          <img src="/image/act_delete.png"> <a href="supprimerEcurie\:num">Supprimer</a>
      </td>
    </tr>
   {{/each}}
</table>
</div>
