<div class="centre">
    <img src="/image/appareil_photo.png" width="75" height="75">
    <h1> Photos des pilotes </h1>
    <p> Sélectionner un pilote : </p>
    <form action="" method="post" class="form-example">
        <div class="centre">
            <select name="pilnum">
                {{#each pilotes}}
                <option value="{{this.pilnum}}">{{this.pilnom}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Valider">
        </div>
    </form>
</div>
