<div class="titre">
    <img src="/image/cat_resultat.png">
    <h1> Photos des pilotes </h1>
    <p> Sélectionner un pilote : </p>
    <form action="" method="post" class="form-example">
        <div>
            <select name="pilnum">
                {{#each pilotes}}
                <option value="{{this.pilnum}}">{{this.pilnom}}</option>
                {{/each}}
            </select>
        </div>
        <input type="submit" value="Valider">
    </form>
</div>
